* {
  font-family: sans-serif;
}

.App {
  width: 70%;
  margin: auto;
  text-align: center;
  color: #1d3557;
}

body {
  background: #f1faee;
}

.item-container {
  border: 2px solid #dcdcdd;
  border-radius: 1rem;
  margin: 1.5rem;
  text-align: left;
  padding: 0.5rem 1rem 1rem 1rem;
}
